<div class="container my-5 col-lg-8 col-md-8 justify-content-center">
  <h1>Editing Drama</h1>

  <%= render "form", drama: @drama %>

  <br>

  <div class="rounded-3 d-flex mt-3" >
    <div class="btn-group">
      <%= link_to @drama, class: "btn btn-outline-secondary", role: "button" do %>
      <i class="bi bi-eye"></i>
      View Drama
      <% end %>
      <%= link_to dramas_path, class: "btn btn-outline-secondary", role: "button" do %>
      <i class="bi bi-house-door"></i>
      Back to Dramas
      <% end %>
    </div>
  </div>
</div>
