<div class="p-4 p-md-5 mb-4 text-white bg-dark">
    <div class="col-md-8 px-0">
    <h1 class="display-4 fst-italic">K-Drama Memoirs</h1>
    <p class="lead my-2">
        <p class="lead">We started watching K-dramas around 2021. Our first drama was
        "Business Proposal" and since then, we have watched over 100 K-dramas and counting. 
        This year, we've grown a lot as avid K-drama watchers, connecting our love for K-dramas with the things we do regularly. 
        We even opened our music taste to K-pop, making us proud BTS, Stray Kids, and Enhypen <a href="#" data-bs-toggle="tooltip" class="tooltip_text text-white" data-bs-placement="bottom" data-bs-title="Extreme, obsessive K-pop fan">stans</a>.
        </p>
        <p class="lead"><em>This is the log of our K-Journey</em> 💞</p>
    </div>
</div>

<div class="container">
    <h2>Latest Dramas</h2>
    <div class="row mb-2">
        <% @latest_dramas.each do |drama| %>
            <%= render partial: 'shared/movie_card', locals: { drama: drama } %>
        <% end %>
    </div>

    <div class="p-5 p-lg-4 rounded-3 d-flex justify-content-end" >
        <div class="btn-group">
            
            <%= link_to about_path, class: "btn btn-outline-secondary", role: "button" do %>
                <i class="bi bi-file-person"></i>
                About
            <% end %>
            <%= link_to dramas_path, class: "btn btn-outline-secondary", role: "button" do %>
                <i class="bi bi-arrow-through-heart"></i>
                View All Dramas
            <% end %>
        </div>
    </div>
</div>
